html {
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: #2a0845;
    /* background: -webkit-linear-gradient(to bottom, #2a0845, #6441a5); */
    /* background: linear-gradient(to bottom, #2a0845, #6441a5); */
}

.backButton {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.backButton:before,
.backButton:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.backButton:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.backButton:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.backButton:hover:before,
.backButton:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.backButton:hover:after,
.backButton:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
}

.backButton:hover .button-box,
.backButton:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
}

#folderList,
#fileList {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    -moz-border-radius: 8px;
}

.album {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.album .container #folderList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 20px;
}

.card {
    width: 190px;
    height: 254px;
    background: rgb(40,40,55);
    background: linear-gradient(344deg, rgb(81, 63, 99) 0%, rgba(16,16,18,1) 50%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 15px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;
}
   
.card:hover {
    margin-top: -5px;
    box-shadow: 4px 6px 14px #ffffff36;
}


.card .imageHolder {
    position: relative;
    left: 0;
    top: 0;
}

.card .imageHolder .shot1 {
    position: relative;
    left: 0;
    top: 0;
}

.card .imageHolder .shot2 {
    position: absolute;
    left: 0;
    top: 0;
}

.card .card-image {
    width: 100% !important;
    height: auto !important;
}

.card > img {
    margin-bottom: 0.75rem;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.1);
    outline: 1px solid white;
}

.card-text {
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 85%;
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.card-text a {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.card-text a:hover {
    color: #30ddba;
}

#breadcrumb {
    background-color: #442760;
    box-shadow: 0px 0.5px 1px 1px #331053;
    border-radius: 0px !important;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#breadcrumb img,
#breadcrumb .search {
    float: right;
}

#breadcrumb .search {
    position: relative;
}

#breadcrumb .search input {
    color: white;
    font-size: 80%;
    display: inline-block;
    background-color: #442760;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    outline: none;
    padding: 3px 24px 5px 6px;
}

.search-icon-wrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 3px;
    margin: 0 auto;
}

.search-icon-circle {
    position: absolute;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    border: 3px solid rgb(165, 150, 180);
    top: 4px;
    right: 4px;
}
.search-icon-rectangle {
    position: absolute;
    height: 35%;
    transform: rotate(-135deg);
    border: 2px solid rgb(165, 150, 180);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 13px;
    right: 15px;
}

#breadcrumb a {
    text-transform: capitalize;
    color: white;
}

.result {
    background-color: #442760;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}

.result a {
    text-decoration: none;
    color: inherit;
}

.result a:hover {
    text-decoration: none;
}

.result:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #ffffff36;
}

.result-title {
    font-size: 1rem;
    font-weight: bold;
}

.result-path {
    font-size: 1rem;
    color: #d3d3d3;
}


.last-examples-btn {
    color: #e2dbdb;
    background-color: #6e538a;
}

.last-examples-btn:hover {
    color: #e2dbdb;
    background-color: #9170b5;
}

#last-examples-result {
    /* display: none; */
    line-height: 15px;
    width: 353px;
    padding: 4px;
    background-color: #6e538a;
    border: 1px solid #331053;
    border-radius: 4px;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 3;
    max-height: 492px;
    overflow: auto;
}

.last-examples-result--title {
    font-size: 12px;
    color: #e2dbdb;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2dbdb;
}

#search-results {
    display: none;
    line-height: 15px;
    width: 353px;
    padding: 4px;
    background-color: #6e538a;
    border: 1px solid #331053;
    border-radius: 4px;
    position: absolute;
    top: 35px;
    right: -60px;
    z-index: 3;
    max-height: 492px;
    overflow: auto;
}

#search-results .relevancy {
    float: right;
    color: #777777;
    font-size: 12px;
}

#search-results .path {
    font-size: 12px;
    color: #777777;
    letter-spacing: 1px;
}

#search-results .searching {
    text-align: center;
    padding: 10px;
    color: white;
}

.breadcrumb-item {
    text-decoration: none;
    color: #ffffff;
}

.breadcrumb-item:hover {
    color: #96b9ff;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 5px;
    padding-left: 0px;
    color: #6c757d;
    content: "/";
}